<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
              <div class="form-group text-left">
                <label for="contractId">contractId</label>
                  <input formControlName="contractId" type="text" class="form-control">
              </div>
              <div class="form-group text-left">
                <label for="grower">grower</label>
                    <textarea formControlName="grower" class="form-control" rows="3"></textarea>
              </div>
              <div class="form-group text-left">
                <label for="shipper">shipper</label>
                    <textarea formControlName="shipper" class="form-control" rows="3"></textarea>
              </div>
              <div class="form-group text-left">
                <label for="importer">importer</label>
                    <textarea formControlName="importer" class="form-control" rows="3"></textarea>
              </div>
              <div class="form-group text-left">
                <label for="arrivalDateTime">arrivalDateTime</label>
                  <input formControlName="arrivalDateTime" type="text" class="form-control">
              </div>
              <div class="form-group text-left">
                <label for="unitPrice">unitPrice</label>
                  <input formControlName="unitPrice" type="number" step='any' class="form-control">
              </div>
              <div class="form-group text-left">
                <label for="minTemperature">minTemperature</label>
                  <input formControlName="minTemperature" type="number" step='any' class="form-control">
              </div>
              <div class="form-group text-left">
                <label for="maxTemperature">maxTemperature</label>
                  <input formControlName="maxTemperature" type="number" step='any' class="form-control">
              </div>
              <div class="form-group text-left">
                <label for="minPenaltyFactor">minPenaltyFactor</label>
                  <input formControlName="minPenaltyFactor" type="number" step='any' class="form-control">
              </div>
              <div class="form-group text-left">
                <label for="maxPenaltyFactor">maxPenaltyFactor</label>
                  <input formControlName="maxPenaltyFactor" type="number" step='any' class="form-control">
              </div>
              <div class="form-group text-left">
                <label for="delayPenaltyFactor">delayPenaltyFactor</label>
                  <input formControlName="delayPenaltyFactor" type="number" step='any' class="form-control">
              </div>
              <div class="form-group text-left">
                <label for="qualityPenaltyFactor">qualityPenaltyFactor</label>
                  <input formControlName="qualityPenaltyFactor" type="number" step='any' class="form-control">
              </div>
        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
            <div class="form-group text-left">
              <label for="contractId">contractId</label>
                <input [ngModel]="contractId"formControlName="contractId" type="text" class="form-control">
            </div>
            <div class="form-group text-left">
              <label for="grower">grower</label>
                  <textarea [ngModel]="grower" formControlName="grower" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group text-left">
              <label for="shipper">shipper</label>
                  <textarea [ngModel]="shipper" formControlName="shipper" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group text-left">
              <label for="importer">importer</label>
                  <textarea [ngModel]="importer" formControlName="importer" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group text-left">
              <label for="arrivalDateTime">arrivalDateTime</label>
                <input [ngModel]="arrivalDateTime"formControlName="arrivalDateTime" type="text" class="form-control">
            </div>
            <div class="form-group text-left">
              <label for="unitPrice">unitPrice</label>
                <input [ngModel]="unitPrice" formControlName="unitPrice" type="number" step='any' class="form-control">
            </div>
            <div class="form-group text-left">
              <label for="minTemperature">minTemperature</label>
                <input [ngModel]="minTemperature" formControlName="minTemperature" type="number" step='any' class="form-control">
            </div>
            <div class="form-group text-left">
              <label for="maxTemperature">maxTemperature</label>
                <input [ngModel]="maxTemperature" formControlName="maxTemperature" type="number" step='any' class="form-control">
            </div>
            <div class="form-group text-left">
              <label for="minPenaltyFactor">minPenaltyFactor</label>
                <input [ngModel]="minPenaltyFactor" formControlName="minPenaltyFactor" type="number" step='any' class="form-control">
            </div>
            <div class="form-group text-left">
              <label for="maxPenaltyFactor">maxPenaltyFactor</label>
                <input [ngModel]="maxPenaltyFactor" formControlName="maxPenaltyFactor" type="number" step='any' class="form-control">
            </div>
            <div class="form-group text-left">
              <label for="delayPenaltyFactor">delayPenaltyFactor</label>
                <input [ngModel]="delayPenaltyFactor" formControlName="delayPenaltyFactor" type="number" step='any' class="form-control">
            </div>
            <div class="form-group text-left">
              <label for="qualityPenaltyFactor">qualityPenaltyFactor</label>
                <input [ngModel]="qualityPenaltyFactor" formControlName="qualityPenaltyFactor" type="number" step='any' class="form-control">
            </div>
        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>Contract</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel *ngFor="let asset of allAssets">
      <ng-template ngbPanelTitle>
        <div class="item-border border-green" (click)="getContractByShipment(asset.shipmentId);">
          <div class="col-md-2 font-bold text-color">
            {{asset.contractId}}
          </div>
          <div class="col-md-2 font-bold text-color">
            {{asset.grower.split('resource:org.acme.shipping.perishable.Grower#')[1]}}
          </div>
          <div class="col-md-2 font-bold text-color">
            {{asset.shipper.split('resource:org.acme.shipping.perishable.Shipper#')[1]}}
          </div>
          <div class="col-md-2 font-bold text-color">
            {{asset.importer.split('resource:org.acme.shipping.perishable.Importer#')[1]}}
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="block-size">
          <div class="col-md-12 font-bold text-color sub-heading">
            <div class="font-bold text-color align-center sub-heading">
              <span class="col-md-3 small-font">Contract ID: </span>
              <span class="col-md-3 small-font">{{asset.contractId}}</span>
              <span class="col-md-3 small-font">Minimum Temp: </span>
              <span class="col-md-3 small-font">{{asset.minTemperature}}</span>
              <span class="col-md-3 small-font">Maximum Temp: </span>
              <span class="col-md-3 small-font">{{asset.maxTemperature}}</span>
              <span class="col-md-3 small-font">Min Penalty: </span>
              <span class="col-md-3 small-font">{{asset.minPenaltyFactor}}</span>
              <span class="col-md-3 small-font">Max Penalty: </span>
              <span class="col-md-3 small-font">{{asset.maxPenaltyFactor}}</span>
              <span class="col-md-3 small-font">Quality Penalty: </span>
              <span class="col-md-3 small-font">{{asset.qualityPenaltyFactor}}</span>
              <span class="col-md-3 small-font">Grower: </span>
              <span class="col-md-3 small-font">{{asset.grower.split('resource:org.acme.shipping.perishable.Grower#')[1]}}</span>
              <span class="col-md-3 small-font">Importer: </span>
              <span class="col-md-3 small-font">{{asset.importer.split('resource:org.acme.shipping.perishable.Importer#')[1]}}</span>
              <span class="col-md-3 small-font">Shipper: </span>
              <span class="col-md-3 small-font">{{asset.shipper.split('resource:org.acme.shipping.perishable.Shipper#')[1]}}</span>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
